section {
    margin: 0;
    background: transparent url('../img/Add_dog_website_background.png');
}
.add-dog-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form.add-dog{
    position: absolute;
    top: 50%;
    left: 80%;
    width: 33%;
    height: 95%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 3px 6px #00000029;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 33px;
}

form.add-dog li{
    height: 100%;
    width: 80%;
    margin-top:4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFCF5 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    opacity: 1;
    font-size: 150%;
    color: var(--icon-color);
}
form.add-dog label{
    font-size: 16.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--text-color)
}

form.add-dog input{
    height: 22%;
    width: 70%;
    font-size: 16.5px;
    background: #223938 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 11px;
    opacity: 1;
    color:var(--text-color)
}

form.add-dog input[name="file"]{
    height: 18%;
    width: 55%;
    margin-top: 5%;
    font-size: 16.5px;
    background: #FFFCF5 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 11px;
    opacity: 1;
    color:var(--text-color);
}

::-webkit-input-placeholder {
    text-align: center;
    line-height:5em;
}
form.add-dog textarea{
    height: 45%;
    width: 90%;
    font-size: 16.5px;
    background: #223938 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
    color:var(--text-color);
}
form.add-dog button {
    height:40%;
    width:52%;
    margin-top: 6%;
    margin-left:55%;
    margin-right:4%;
}

@media only screen and (max-width: 1112px) {
    form.add-dog{
        top: 50%;
        left: 52%;
        width: 90%;
        height: 97%;
    }
    form.add-dog li{
        height: 30%;
        width: 80%;
        margin-bottom: 1%;
    }
    form.add-dog input[name="file"]{
        height: 8%;
        width: 85%;
        margin-top: 5%;
        font-size: 12px;
        background: #FFFCF5 0% 0% no-repeat padding-box;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        border-radius: 11px;
        opacity: 1;
        color:var(--text-color);
    }

    form.add-dog button {
        height:10%;
        width:50%;
        line-height: 0.2em;
    }
    ::-webkit-input-placeholder {
        text-align: center;
        line-height:1.5em;
    }
}