section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent url('../img/Background_web.png');
    overflow: hidden;
}
.card-wrapper{
    display: flex;
    margin-left: -15%;
}
.card{
    display: grid;
    margin-left: 5%;
    grid-template-columns: 25em;
    grid-template-rows: 19em 19em 5em;
    grid-template-areas: "image" "text";

    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition:0.5s ease;
    cursor:pointer;
}
.card1-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card2-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card3-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .dog_owner{
    color:#FFCC23;
    font-size: 13px;
}
.card-text p{
    color:grey;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 15px;
    font-size: 28px;
}
.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

@media screen and (max-width: 768px) {
    .card-wrapper{
        display:grid;
    }
    .card{
        grid-template-columns: 25em;
        grid-template-rows: 19em 19em 5em;
    }
}




