section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent url('../img/Background_web.png');
    overflow: hidden;
}
.card-wrapper{
    display: flex;
    margin-left: -45%;
}
.card{
    display: grid;
    margin-top: 7%;
    margin-left: 32%;
    grid-template-columns: 30em;
    grid-template-rows: 25em 7em 2em;
    grid-template-areas: "image" "text";

    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition:0.5s ease;
    cursor:pointer;
}
.card1-image{
    grid-area: image;
    background: transparent url('../img/avatar2.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card2-image{
    grid-area: image;
    background: transparent url('../img/avatar.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin-top: 50px;
    font-size: 28px;
}
a {
    color:black;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

@media screen and (max-width: 768px) {
    .card-wrapper{
        display:grid;
        margin-left: 5%;
    }
    .card{
        display: grid;
        margin-top: 15%;
        margin-left: unset;
        grid-template-columns: 25em;
        grid-template-rows: 23em 7em 2em;
    }
    .card-text{
        margin-top: 5%;
    }
}




