#map {
    width: 100%;
    height: 100vh;
}

.marker {
    background-image: url('../img/map_marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.geocoder {
    position: absolute;
    width: 80%;
    top: 26%;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

form.add-walk{
    position: absolute;
    top: 50%;
    left: 80%;
    width: 35%;
    height: 50em;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border: 1px solid #442720;
    opacity: 0.92;
    border-radius: 33px;
}
form.add-walk li{
    margin-top: 8%;
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--icon-color);
}
form.add-walk label{
    margin-top: 5%;
    font-size: 16.5px;
    display: flex;
    align-items: center;
    color:var(--text-color)
}

::-webkit-input-placeholder {
    text-align: center;
    line-height:5.5em;
}
form.add-walk textarea{
    height: 50%;
    width: 99%;
    margin-top: 5%;
    font-size: 16.5px;
    background: #223938 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 25px;
    opacity: 1;
    color:var(--text-color);
}
form.add-walk button2 {
    height:10%;
    width:52%;
    margin-top: 17%;
    margin-left:55%;
    margin-right:4%;

    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background: #A46C5D 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 55px;
    font-size: 35px;
    text-align: center;
    line-height: 2.5em;
    opacity: 1;
    border: none;
    cursor:pointer;
}

form.add-walk button2:hover {
    transition-duration: 0.1s;
    background-color: #a7877c;
}

form.add-walk button2:after {
    content:"";
    display:block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: all 0.5s;
    box-shadow: 0 0 40px 40px white;
}

form.add-walk button2:active:after {
    box-shadow: 0 0 0 0 #a7877c;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 1s;
}
@media only screen and (max-width: 1112px) {
    form.add-walk{
        top: 74%;
        left: 52%;
        width: 90%;
        height: 50%;
    }
    form.add-walk li{
        margin-top: 2%;
        height: 40%;
        width: 100%;
    }
    form.add-walk li i{
        font-size: 20px;
    }
    form.add-walk li input{
        height: 30%;
    }
    form.add-walk textarea{
        height: 95%;
    }
    form.add-walk button2 {
        height:10%;
        width:50%;
        line-height: 0.5em;
    }
    ::-webkit-input-placeholder {
        text-align: center;
        line-height:1.8em;
    }
}